/*
  Global CSS file
*/
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: normal;
}

::-webkit-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
::-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}
:-ms-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
input:-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}

html {
	height: 100%;
}

body {
	background: #FFF;
	font-family: main-font;
	font-size: 16px;
	background: black;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+20,9c27b0+50,000000+80 */
background: #000000; /* Old browsers */
background: linear-gradient(to bottom,  #000000 15%,#9c27b0 50%,#000000 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

body::before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #000000 30%,#9c27b0 50%,#000000 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	animation: gradientopacity 10s linear infinite;
	z-index: -1;
}


@font-face {
	font-family: main-font;
	src: url(modules/App/images/web-pages/Reusable/Fonts/Overlock-Regular.ttf);
}

@keyframes Gradient {
	0% {
		background: linear-gradient(to bottom,  #000000 20%,#9c27b0 50%,#000000 80%);
	}
	50% {
		background: linear-gradient(to bottom,  #000000 10%,#9c27b0 50%,#000000 90%);
	}
	100% {
		background: linear-gradient(to bottom,  #000000 25%,#9c27b0 50%,#000000 75%);
	}
}

@keyframes gradientopacity {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}