.anchor-tabs {
  position: relative;
  margin-bottom: 50px;
  vertical-align: top;
  width: 867px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 9px;
  text-align: center;
  padding-left: 5px;
  padding-right: 2px;
  height: 62px;
  &:before {
    content: url("../../images/web-pages/Reusable/nav.png");
    position: absolute;
    top: -20px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    z-index: -1;
  }
  a {
    width: 15%;
    min-width: 75px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    &.selected {
      /*background: #5e8032;
      background: -moz-linear-gradient(top,  #5e8032 0%, #3c5f23 47%, #32411e 100%);
      background: -webkit-linear-gradient(top,  #5e8032 0%,#3c5f23 47%,#32411e 100%);
      background: linear-gradient(to bottom,  #5e8032 0%,#3c5f23 47%,#32411e 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e8032', endColorstr='#32411e',GradientType=0 ); */
      small {
        display: none;
      }
      .icon-tab {
        width: 55px;
      }
    }
    small {
      display: block;
      font-size: 10px;
      margin-top: -6px;
      margin-bottom: 1px;
    }
    .icon-tab {
      width: 40px;
    }
  }
  .arrow-btn {
    position: absolute;
    &:hover {
      cursor: pointer;
    }
    &#left {
      left: 27px;
      bottom: -23px;
    }
    &#right {
      right: 27px;
      bottom: -23px;
    }
  }
}