.login{
  position: relative;
  float: right;
  button {
    background: #9a26ae;
    border: none;
    display: inline-block;
    width: 100px;
    height: 30px;
    margin: 25px 10px;
    border-radius: 2px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    box-shadow: 0px 2px 0px 0px #390e40;
  }
}