.login{
    text-align: center;
    padding: 45px 0;
    background-size: cover;
    width: 90%;
    height: 400px;
    background:rgb(1, 133, 218);
    position: relative;
    margin: 0 auto;
    color: white;
    box-sizing: border-box;
    .section {
        width: 50%;
        vertical-align: top;
        display: inline-block;
        height: 100%;
        &.news {
          overflow-y: scroll;
        }
        &.login-panel {
          //padding-top: 30px;
          input {
            display: block;
            text-align: center;
            width: 70%;
            margin: 20px auto;
            position: relative;
            height: 35px;
            font-size: 20px;
            transform: skew(-0.15rad);
            border-radius: 5px;
            &[type="submit"] {
              width: 100px;
              height: 100px;
              border-radius: 50px;
              display: inline-block;
              transform: none;
              margin: 5px 15px;
            }
          }
        }
    }
  }
  
  .footer p{
    margin: 0 0 8px 0;
    font-size: 14px;
    color: #FFF;
  }
  
  .footer a{
    color: #FFF;
    text-decoration: none;
    font-weight: 700;
  }
  