.container {
  max-width: 980px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}

.fullscreenContainer {
  .anchor-tabs {
    text-align: center;
    width: 100%;
    margin: 50px 0;
    a {
      margin: 0 60px;
    }
  }

  #gameplay {
    width: 100%;
    //background: black;
    iframe {
      width: 1000px;
      height: 600px;
      position: relative;
      margin: 0 auto;
      display: block;
      border: none;
      border-radius: 10px;
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
        z-index: 2;
        background: green;
      }
    }
  }
}